<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener - Simplify Your Links</title>
    <meta
      name="description"
      content="Shorten and manage your URLs with our easy-to-use URL shortener. Improve your link management and track your link performance."
    />
    <meta
      name="keywords"
      content="URL shortener, link shortener, URL management, link tracking"
    />
    <link rel="icon" href="/images/url_ico.ico" type="image/x-icon" />
    <link rel="canonical" href="https://www.yoursite.com/" />
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: url("/images/background.jpg") no-repeat center center fixed;
        background-size: cover;
      }

      .container {
        text-align: center;
        background: rgba(255, 255, 255, 0.9);
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        width: 90%;
        max-width: 400px;
      }

      h1 {
        margin-bottom: 1rem;
        color: #333;
      }

      input {
        padding: 0.5rem;
        width: calc(100% - 1rem);
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        padding: 0.5rem 1rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #0056b3;
      }

      .short-url,
      .long-url {
        margin-top: 1rem;
        word-wrap: break-word;
      }

      .short-url a {
        color: #007bff;
        text-decoration: none;
      }

      .short-url a:hover {
        text-decoration: underline;
      }

      .footer {
        margin-top: 2rem;
        color: #333;
      }

      .footer a {
        color: #007bff;
        text-decoration: none;
      }

      .footer a:hover {
        text-decoration: underline;
      }
    </style>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
          if (document.scripts[j].src === r) {
            return;
          }
        }
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        "script",
        "https://mc.yandex.ru/metrika/tag.js",
        "ym"
      );

      ym(97473773, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
      });
    </script>
    <noscript>
      <div>
        <img
          src="https://mc.yandex.ru/watch/97473773"
          style="position: absolute; left: -9999px"
          alt=""
        />
      </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-675EHCMX0X"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-675EHCMX0X");
    </script>
  </head>

  <body>
    <div class="container">
      <h1>URL Shortener</h1>
      <form action="/" method="POST">
        <input
          type="url"
          name="longUrl"
          placeholder="Enter long URL"
          required
        />
        <button type="submit">Shorten</button>
      </form>
      <% if (typeof shortUrl !== 'undefined' && typeof longUrl !== 'undefined')
      { %>
      <div class="short-url">
        <p>Short URL: <a href="<%= shortUrl %>"> <%= shortUrl %> </a></p>
      </div>
      <div class="long-url">
        <p>Original URL: <%= longUrl %></p>
      </div>
      <% } %>
    </div>
    <div class="footer">
      <p>
        Powered by
        <a
          href="https://www.linkedin.com/in/ulugbek-erkinov-743346237/"
          target="_blank"
          >Erkinov Ulugbek</a
        >
      </p>
    </div>
  </body>
</html>
